---
# Main sass file.
---
@charset "utf-8";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$post-font-family: 'Lora', "Times New Roman", serif;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fff;
$brand-color:      #2ecc71;
$white:            #fff;
$light-blue:       #359DFF;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    768px;

$on-palm:          600px;
$on-laptop:        768px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Partials from minima theme
@import
  "base",
  "layout",
  "syntax-highlighting"
;