---
# Main sass file.
---
@charset "utf-8";

// Our variables
$base-font-family:      "Open Sans", sans-serif;
$base-font-size:        16px;
$base-font-weight:      400;
$small-font-size:       $base-font-size * 0.875;
$base-line-height:      1.6;
$base-post-font-size:   1.1em;

$spacing-unit:          30px;
$px-spacing-unit:      8px;

$base-text-color:       #111;
$background-color:      #fff;
$white:                 #fff;
$light-green:           #57bc90;
$dark-green:            #2ecc71;
$dark-red:              #c0392b;
$light-grey:            #F4F2F0;
$grey:                  #515151;
$text-color:            #515151;
$grey-color:            #828282;
$grey-color-light:      lighten($grey-color, 40%);
$grey-color-dark:       darken($grey-color, 25%);

// Width of the content area
$content-width:         740px;
$on-palm:               600px;
$on-laptop:             740px;

// mixin for media queries
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// partials
@import
  "base",
  "layout",
  "syntax-highlighting"
;