---
layout: default
---
<div class="default">
  <h1>Projects</h1>
  <p>A small selection of the things I have created over the last few years. You'll find many more of them over at my <a href="https://github.com/dayvidwhy" target="_blank">Github</a> account page. Most are graciously hosted on Github Pages.</p>
  <ul class="post-list">
    {% for project in site.data.projects %}
    <li>
      <h2>
        <a class="post-link" style="color: {{ project.theme_colour }}" href="{{ project.link }}" target="_blank">{{ project.title | escape }}</a>
      </h2>
      <div class="post-meta">
        {{ project.developer }} - <strong>{{ project.meta }}</strong>
      </div>
      {% for desc in project.description %}
      <p>
          {{ desc }}
      </p>
      {% endfor %}
      <a href="{{ project.link }}" target="_blank">View Project...</a>
      <div class="category-tag-list">
        {% for tag in project.tech_tags %}
        <p class="category-tag">
            {{ tag }}
        </p>
        {% endfor %}
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
