<footer class="site-footer">
  <div class="wrapper">
    <h2 class="footer-heading">David Young</h2>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a href="https://davidyoung.tech">Portfolio</a></li>
          <li><a href="mailto:me@davidyoung.tech">me@davidyoung.tech</a></li>
          <li>Track my <a href="{{ "/feed.xml" | prepend: site.baseurl }}">posts</a>.</li>
        </ul>
      </div>
      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li>
            <a href="https://github.com/dayvidwhy"><span class="username">My Github</span></a>
          </li>
          <li>
            <a href="https://twitter.com/dayvidwhy"><span class="username">I Tweet Sometimes</span></a>
          </li>
        </ul>
      </div>
      <div class="footer-col footer-col-3">
        <p>David Young is an Information Technology student based in Brisbane, Australia  with a keen interest in Website Development and Design majoring in Software  Development.
        </p>
      </div>
    </div>
  </div>
</footer>
<script type="text/javascript">
  var link = document.createElement('link');
  link.rel = 'stylesheet';
  link.href = 'https://fonts.googleapis.com/css?family=Lora';
  document.head.appendChild(link);
  </script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-87261829-1', 'auto');
  ga('send', 'pageview');
</script>