<footer class="site-footer">
    <div class="wrapper">
      <h2 class="footer-heading">David Young</h2>
      <div class="footer-col-wrapper">
        <div class="footer-col footer-col-1">
          <ul class="contact-list">
            <li>David Young</li>
            <li><a href="mailto:me@davidyoung.tech">me@davidyoung.tech</a></li>
          </ul>
        </div>
        <div class="footer-col footer-col-2">
          <ul class="social-media-list">
            <li>
              <a href="https://github.com/dayvidwhy"><span class="username">My Github</span></a>
            </li>
            <li>
              <a href="https://twitter.com/dayvidwhy"><span class="username">I Tweet Sometimes</span></a>
            </li>
          </ul>
        </div>
        <div class="footer-col footer-col-3">
          <p>David Young is an Information Technology student based in Brisbane, Australia  with a keen interest in Website Development and Design majoring in Software  Development.
          </p>
        </div>
      </div>
    </div>
  </footer>