/**
 * Site header
 */
.site-header {
    min-height: 56px;
    background-color: $light-blue;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    color: $white;
    float: left;

    &,
    &:visited {
        color: $white;
    }
}

.site-nav {
    float: right;
    line-height: 56px;
    color: $white;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $white;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        z-index: 2;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $light-blue;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $white;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        padding-top: $spacing-unit / 2;
        padding-bottom: $spacing-unit / 2;
        border-bottom: 1px solid #f2f0ed;

        &:last-child {
            border-bottom: none;
            padding-bottom: 0;
        }

        &:first-child {
            padding-top: 0;
        }

        > h2 {
            margin: 0;
            
        }

        > p {
            font-size: 1.1em;
            color: $grey;
            line-height: 27px;
            margin-bottom: 10px;
            

            @include media-query($on-palm) {
                font-size: 1em;
                line-height: 24px;
            }
        }

        a {

            &.read-more {
                border-left: none;
            }
        }
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
    display: inline-block;
    margin-bottom: 10px;
}

.meta-border {
    display: block;
    border-bottom: 1px solid #f2f0ed;
    margin-bottom: $spacing-unit / 2;
    padding-bottom: $spacing-unit / 2;
}

.post-link {
    display: block;
    font-size: 30px;
    transition: all 0.3s ease-in-out;
    &:hover {
        text-decoration: none;
    }
}

.category-tag {
    display: inline-block;
    margin-right: 3px;
    padding: 5px;
    color: $white;
    background-color: $light-green;
    border-radius: 3px;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    position: relative;
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
    margin-top: 0.5em;
    color: $dark-green;

    &::before {
        position: absolute;
        content: '';
        left: 0;
        bottom: -0.2em;
        width: 1em;
        margin-bottom: -2px;
        border-bottom: 4px solid $light-green;
    }

    @include media-query($on-laptop) {
        font-size: 36px;
    }

    @include media-query($on-palm) {
        margin-top: 0;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    p {
        font-size: 1.1em;
        line-height: 27px;
        color: $grey;
        
        @include media-query($on-palm) {
            font-size: 1em;
            line-height: 24px;
        }
    }

    a {
        color: $dark-green;
        border-bottom: 1.5px solid $dark-green;

        &:hover {
            color: $dark-green;
            text-decoration: none;
            border-bottom: 1.5px solid $light-blue;
        }
    }

    h1 {
        font-size: 32px;
        margin-bottom: 5px;

        @include media-query($on-palm) {
            font-size: 28px;
        }
    }

    h2 {
        font-size: 29px;
        margin-bottom: 5px;

        @include media-query($on-palm) {
            font-size: 25px;
        }
    }

    h3 {
        font-size: 26px;
        margin-bottom: 5px;

        @include media-query($on-palm) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;
        margin-bottom: 5px;

        @include media-query($on-palm) {
            font-size: 18px;
        }
    }

    li {
        color: $grey;
    }
}
