<!DOCTYPE html>
<html lang="en">
<head>
    {% include meta.html %}
    
    <meta name="twitter:description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | prepend: site.url | remove: '.html'  }}">
    <title>David Young - Development Blog</title>
</head>
<body>
    {% include header.html %}
    <main class="page-content" aria-label="Content" role="main">
        <div class="wrapper">
            {{ content }}
        </div>
    </main>
    {% include footer.html %}
</body>
</html>