<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  <meta name="description" content="David Young is an Information Technology student based in Brisbane, Australia with a keen interest in Website Development and Design majoring in Software Dev...">
  <link rel="shortcut icon" href="images/favicon.ico?" type="image/x-icon">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="canonical" href="http://blog.davidyoung.tech/">
  <link rel="alternate" type="application/rss+xml" title="David Young" href="http://blog.davidyoung.tech/feed.xml">
</head>
<body>
  {% include header.html %}
  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      {{ content }}
    </div>
  </main>
  {% include footer.html %}
</body>
</html>