<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#359DFF">
  <meta name="description" content="David Young is Web Developer based in Brisbane, Australia with a keen interest in Website Development and Design.">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="https://davidyoung.tech">
  <meta name="twitter:title" content="David Young - Web Developer living in Brisbane">
  <meta name="twitter:description" content="David Young is a Website and Software Developer located in Brisbane Australia.">
  <meta name="twitter:image" content="https://davidyoung.tech/images/small.jpg">
  <meta name="twitter:site" content="@dayvidwhy">
  <meta name="twitter:creator" content="@dayvidwhy">
  <title>David Young - Development Blog</title>
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script><![endif]-->
  <link rel="shortcut icon" href="images/favicon.ico?" type="image/x-icon">
  <link rel="stylesheet" href="css/main.css">
  <link rel="canonical" href="{{ page.url | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="David Young" href="https://blog.davidyoung.tech/feed.xml">
</head>
<body>
  {% include header.html %}
  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      {{ content }}
    </div>
  </main>
  {% include footer.html %}
</body>
</html>